/** code by webdevtrick (https://webdevtrick.com) **/

*{
    margin: 0;
    padding: 0;
}
body {
   background-color: white;
}
.header_quiz{
    background-color: khaki;
}

.header_quiz h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.items_nav{
   
    text-decoration:none;
  
}

.ul_nav{
    display: flex;
    list-style: none;
    background-color: rgb(247, 212, 41);
    padding: 1rem;
    
}

.ul_nav li a{
    text-decoration: none;
    padding: 1rem;
    font-size: 20px;
    color: black;
    
}

.ul_nav li a:hover{
    color: grey;
}



.grid{
    width: 100%;
    height: 585px;

}
#quiz{
    width: 100%;
}

.grid h1{
    position: relative;
    text-align: center;
    padding: 2rem;
    background-color: #e0db4038;
}

.grid #question{
    font-size: 20px;
    position: relative;
    text-align: center;
    padding: 2rem;
}

.buttons{
    text-align: center;
}

.buttons button{
    background-color: #bee2e438;
    width: 413px;
    font-size: 20px;
    margin: 15px 30px 15px 15px;
    padding: 10px 10px;
    cursor: pointer;
}
.buttons button:hover{
    color: burlywood;
}


.grid #progress{
    position: relative;
    text-align: center;
    padding: 1rem;
    margin: 0;
}